In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\welcome\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:391: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}: 0.873115333825268

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.054255,0.008166,0.003591,0.000797,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.796906,0.761051,0.836423,0.766079,0.765618,0.785215,0.028612,6
1,0.450796,0.016532,0.018549,0.001621,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.801086,0.747966,0.834554,0.803475,0.766815,0.790779,0.030301,5
2,0.039694,0.002034,0.003391,0.000490,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.773015,0.757260,0.820254,0.822528,0.746984,0.784008,0.031637,8
3,0.369412,0.009305,0.019149,0.002034,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.807403,0.768641,0.834408,0.831584,0.756791,0.799765,0.031895,4
4,0.039491,0.002996,0.002394,0.000798,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.771430,0.731677,0.801942,0.817675,0.756282,0.775801,0.030932,11
5,0.374797,0.010896,0.018351,0.001493,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.804103,0.771245,0.835771,0.833752,0.767393,0.802453,0.029311,1
6,0.177722,0.008183,0.004389,0.001740,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.743946,0.738886,0.819296,0.788540,0.749725,0.768078,0.031027,12
7,1.782833,0.050511,0.018151,0.002554,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.785218,0.770947,0.811979,0.803341,0.750594,0.784416,0.022108,7
8,0.122471,0.011706,0.002194,0.000399,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.785333,0.748522,0.833911,0.817470,0.728804,0.782808,0.039777,9
9,1.174459,0.062725,0.016756,0.001323,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.805608,0.771651,0.845830,0.821259,0.763965,0.801663,0.030569,2
10,0.123071,0.015316,0.002793,0.000399,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.782573,0.737170,0.821119,0.799410,0.750651,0.778185,0.030833,10
11,1.108236,0.112297,0.016357,0.001017,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.799139,0.771384,0.837446,0.831137,0.759867,0.799794,0.030990,3

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:2
BMI:2
Children:2
Sex Male 0 or 1:2
Smoker Yes 0 or 1:2

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[47292.5384051]